/*!
 * 2016-5-24 09:21:41
 * author xiao
 */html,body{margin:0;padding:0;height:100%;background-color:#fff}.main{position:relative;min-height:100%}.about{width:1100px;margin:0 auto;padding-bottom:100px;position:relative;text-align:left;background-color:#fff}.about-nav{width:1100px;padding-top:35px;font-size:14px;color:#646464}.about-nav span{color:#14316f;line-height:18px}.andr,.ios{display:inline-block;text-align:center}.andr{position:absolute;top:260px;left:580px}.ios{position:absolute;top:260px;left:750px}.down-bg{padding-left:100px;padding-bottom:75px;width:272px;height:558px}
