/*!
 * 2016-5-24 09:21:41
 * author xiao
 */
/*
 * ¶©µ¥ÏêÇéÒ³
 * ÐÞ¸Ä 2016-6-20 14:22:10
 */@CHARSET "UTF-8";html,body{background-color:#fff}.ikl-all{width:815px;margin:0 auto;text-align:left}.ikl-item{font-size:16px;padding:10px 0;font-weight: bold;}.ikl-no{font-size:14px;padding:25px 0 10px 0;line-height:30px;}.ikl-title{font-size:14px;font-weight:bold}.divide{border:1px solid #eee;margin-top:10px;margin-bottom:10px}.item-amount{border-bottom:1px solid #eee;margin-top:3px;margin-bottom:3px;width:100%}.ikl-amount{float:right;text-align:right}.ikl-table td{border:1px solid #c7c7c7;font-size:14px;text-align:center}
